{% extends 'base.html.twig' %}
{% block body %}
	<h1>Send mail</h1>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{{ form_start(form) }}
	{{ form_rest(form) }}
		<button class="btn btn-outline-success">Envoyer</button>
	{{ form_end(form) }}
{% endblock %}
